
  
.jumbotron {
    background-image: url(img/pdip.jpg);
    
}



.navbar-brand {
    color: white;
}

section {
    padding-top: 5rem;
}
#home {
    color:black;
    box-shadow: 100%;
}
#about {
    background-image: url(img/pdip.jpg);
    font-size: 30px;
    
    
}
#hoby {
    background-image:url(img/pdip.jpg);
    font-size: 30px;
}
#skill {
    background-image:url(img/pdip.jpg);
    font-size: 30px;
}
#contact{
    background-image:url(img/pdip.jpg);
    font-size: 30px;
}

.lead {
    font-size: 50px;
}

